
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    --triplet-width: calc(100vw / 3);
    --header-content-width: 46vw;
    --header-content-height: calc(var(--header-content-width) * 0.65 );
    --header-img-width: 46vw;
    --single-content-width: 55vw;
    background-color: rgb(240, 240, 240);
}

#backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal {
    display: block;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: .5vw;
}

#modal-body {
    display: block;
    padding: 1vw;
}

#modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1vw;
}

#modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: lightgrey;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 35px;
}
#modal-close-btn:hover {
    background-color: grey;
    cursor: pointer;
}

#header {
    display: flex;
    width: 96vw;
    background-image: linear-gradient(to right, #f5faff , white);
    justify-content: space-between;
    padding: 2vw;
}

#header-content {
    display: flex;
    flex-direction: column;
    width: var(--header-content-width);
    height: var(--header-content-height);
}

#header-img {
    display: block;
    width: var(--header-img-width);
    background-image: url('images/tablets.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#title-line {
    display: flex;
}

#title-icon {
    display: block;
    width: calc(var(--header-content-width) * 0.4 );
    height: calc(var(--header-content-width) * 0.25 );
    margin-right: calc(var(--header-content-width) * 0.05 );
    background-image: url('./images/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#title {
    font-size: 50px;
    font-size: calc(var(--header-content-height) * 0.17);
    font-weight: 500;
    color: black;
}

#subtitle {
    font-size: calc(var(--header-content-height) * 0.05);
    font-weight: 300;
    margin: calc(var(--header-content-height) * 0.05) 0;
    color: black;
}

.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vw;
    width: 16vw;
    border: none;
    border-radius: 2vw;
    font-size: 1.4vw;
    line-height: 1.4vw;
    background-color: #81388d;
    color: white;
    padding: 1vw;
    margin: 1vw 0;
}

.cta-button:hover {
    cursor: pointer;
}

#header-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(var(--header-content-width) * 0.65);
    margin: calc(var(--header-content-height) * 0.05) 0;
    font-size: calc(var(--header-content-height) * 0.045);
    line-height: calc(var(--header-content-height) * 0.045);
    color: darkgray;
}

#stars .material-icons {
    color: goldenrod;
    font-size: calc(var(--header-content-height) * 0.06);
    line-height: calc(var(--header-content-height) * 0.06);
}

#companies-carousel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    padding: 1vw 0;
    background-color: #d76d52;
}

.company-logo {
    display: block;
    height: 6vw;
    width: 6vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.7);
}

.triplet-section {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    background-color:white;
}

.triplet {
    display: block;
    width: var(--triplet-width);
    padding: calc(var(--triplet-width) * 0.07);
}

.triplet-img {
    display: block;
    width: auto;
    height: calc(var(--triplet-width) * 0.5);
    width: calc(var(--triplet-width) * 0.5);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.triplet-title {
    text-align: center;
    font-size: calc(var(--triplet-width) * 0.07);
    margin: 10px;
    height: calc(var(--triplet-width) * 0.2);
}

.triplet-text {
    font-size: calc(var(--triplet-width) * 0.04);
    font-weight: 300; 
    margin: 0.5vw auto;
}

.single-section {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    padding: 2vw 0;
    justify-content: center; 
}

.single-img {
    display: block;
    width: 30vw;
    height: 30vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.single-content {
    display: flex;
    padding: 2vw 5vw;
    flex-direction: column;
    justify-content: space-around;
    width: var(--single-content-width);
}

.single-title {
    font-size: calc(var(--single-content-width) * .036 );
}

.single-line {
    display: flex;
    align-items: center;
}
.bullet {
    display: block;
    height: .5vw;
    width: .5vw;
    border: none;
    border-radius: .1vw;
    background-color:goldenrod;
    margin-right: 2vw;
}

.single-text {
    font-size: calc(var(--single-content-width) * .024 );
}

.cta-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 1vw 0;
    background-color: #d76d52;
}

.cta-text {
    color: white;
    font-size: 1.5vw;
    margin-right: 5vw;
}

#testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15vw;
    background-color: #d76d52;
    color: #8bc34a;
    font-size: 2vw;
    line-height: 4.5vw;
    font-style: italic;
}

.testimonial-shown {
    display: visible;
    animation-duration: 5s;
    animation-name: testimonialFade;
    width: 70vw;
    text-align: center;
}

@keyframes testimonialFade {
    from {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.testimonial-hidden {
    display: none;
}

#founders-note {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vw 0;
}

#founders-content {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

#founders-title { 
    font-size: 3vw;
    font-weight: 500;
    margin: 2vw 0;
}

#founders-text { 
    position: relative;
    font-size: 1.5vw;
    font-weight: 200;
    margin: 1vw 0;
}

#founders-text a {
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;
    font-weight: 300;
}

#founders-img {
    display: block;
    width: 35vw;
    height: 35vw;
    background-image: url('images/logo-on-building.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#q-and-a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 4vw;
    border: 1px solid grey;
    border-radius: 1vw;
    margin: 1vw auto;
    padding: 1vw;
}

#q-and-a-title {
    font-size: 2vw;
    font-weight: 400;
    margin: 0 1vw;
}

#q-and-a-subtitle {
    font-size: 1.5vw;
    font-weight: 300;
}

#q-and-a-subtitle a {
    text-decoration: none;
}

#footer {
    display: flex;
    height: 15vw;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

@media screen and (min-width: 1400px) { 
    .single-title {
        font-size: 26px;
    }

    .bullet {
        height: 7px;
        width: 7px;
        border-radius: 2px;
        margin-right: 30px;
    }

    .single-text {
        font-size: 18px;
    }
}


@media screen and (min-width: 1200px) {
    body {
        --header-content-width: 600px;
        --header-img-width: 600px;
        --triplet-width: 400px;
    }
    #header {
        justify-content: space-around;
    }

    .cta-button {
        height: 48px;
        width: 192px;
        border-radius: 24px;
        font-size: 16px;
        line-height: 16px;
        padding: 12px;
        margin: 12px 0;
    }

    .cta-text {
        font-size: 18px;
    }

  }

  @media screen and (max-width: 450px) {
    body {
        --header-content-width: 90vw;
        --header-img-width: 96vw;
        --single-content-width: 90vw;
    }
    
    #header {
        width: 90vw;
        height: 65vw;
        padding: 5vw;
        flex-direction: column;
    }

    #header-lower {
        display: flex;
    }

    #header-rating {
        height: 8vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 40vw;
    }

    #header-img {
        height: 80vw;
        display: none;
    }

    #header-img-mobile {
        display: block;
        width: 55vw;
        background-image: url('images/tablets.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .cta-button {
        height: 8vw;
        width: 32vw;
        border-radius: 4vw;
        font-size: 2.8vw;
        line-height: 2.8vw;
        padding: 2vw;
        margin: 2vw 0;
    }

    .triplet-section.triplet-mobile {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 5vw;
        padding-bottom: 8vw;
    }
    
    .triplet.triplet-mobile {
        width: 90vw;
        padding: 0;
        margin-top: calc( 0px - 5vw);
    }
    
    .triplet-img.triplet-mobile {
        height: 45vw;
        width: 45vw;  
    }
    
    .triplet-title.triplet-mobile {
        text-align: center;
        font-size: 5vw;
        margin: calc(0px - 3vw);
        margin-bottom: 5vw;
        height: 10vw;
    }
    
    .triplet-text.triplet-mobile {
        font-size: 3vw; 
        margin: 1.5vw auto;
    }

    .line-break-mobile {
        display: block;
        background-color: rgb(240, 240, 240);
        height: 1px;
        width: 70vw;
        margin: 8vw auto;
    }
    

    .single-img {
        display: none;
    }

    .single-title {
        margin-bottom: 5vw;
        text-align: center;
    }

    .single-text {
        margin: 1vw 0; 
        font-size: 2.5vw;
    }

    .cta-banner {
        flex-direction: column;
    }
    
    .cta-text {
        font-size: 3vw;
        margin-left: 5vw;
        margin-top: 3vw;
        margin-bottom: 2vw;
        text-align: center;
    }

    #testimonials {
        font-size: 3vw;
    }

    #founders-note {
        flex-direction: column-reverse;
        text-align: center;
    }

    #founders-content {
        width: 70vw;
    }
    
    #founders-title { 
        font-size: 5vw;
    }
    
    #founders-text { 
        font-size: 2.75vw;
        margin: 1vw 0;
    }

    #founders-img {
        width: 60vw;
        height: 60vw;
    }

    #q-and-a {
        flex-direction: column;
        height: 15vw;
        text-align: center;
    }
    
    #q-and-a-title {
        font-size: 4vw;
        margin: 0 1vw;
    }
    
    #q-and-a-subtitle {
        font-size: 3.3vw;
    }
    
    #footer {
        font-size: 2.5vw;
    }

   }
